#page-header{
    background-image: url('../../../assets/banner.png');
    width:100%;
    height:40vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    padding:10px;

}

#page-header h2,
#page-header p{
    color:aliceblue;
}

 

  .about-header {
     display: flex;
     align-items: center;
   
  }
  .about-header img {
      width: 50%;
      height: auto;
  }
   
  .about-app {
    text-align: center;
   
  }
   
   
   
  /* Target the section with ID "about-app" */
  #about-app {
    text-align: center; /* Center align the content */
    padding: 50px 0; /* Add padding for spacing */
  }
   
  /* Target the h1 within the section */
  #about-app h1 {
    font-size: 2.5rem; /* Set font size */
    margin-bottom: 20px; /* Add spacing below the heading */
  }
   
  /* Target the video container within the section */
  #about-app .vedio {
    max-width: 70%; /* Set maximum width */
    margin: 0 auto; /* Center the container horizontally */
  }
   
  /* Target the video element within the video container */
  #about-app .vedio video {
    width: 100%; /* Set video width to fill its container */
    height: auto; /* Allow the height to adjust proportionally */
  }
   
  ---------------FOOTER----------
   
  .section-p1{
    background-color: #000;
   
  }
  #newsletter {
    text-align: center;
    padding: 50px 0;
    background-color: #000; /* Black background color */
    color: #fff; /* Text color */
  }
   
  #newsletter h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
   
  #newsletter p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }