   <app-buyernavbar></app-buyernavbar>
 <!-- app.component.html -->





<div class="container">
  <h2>Checkout</h2>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Buyer_Name:</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter your name">
    </div>

    
    <div class="form-group">
      <label for="cardNumber">Card Number:</label>
      <input type="text" class="form-control" formControlName="cardNumber" id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX"  (input)="formatCardNumber($event)">
      <div *ngIf="checkoutForm.get('cardNumber')?.errors && checkoutForm.get('cardNumber')?.dirty" class="text-danger">   
        <div *ngIf="checkoutForm.get('cardNumber')?.hasError('required')">Card Number is required.</div>
        <div *ngIf="checkoutForm.get('cardNumber')?.hasError('invalidCardNumber')">Please enter a valid Card Number.</div>
      </div>
    </div>
    
    <div class="form-group">
      <label>Expiry Date:</label>
      <div class="expiry-date">
        <select name="expiryMonth" class="form-control" required>
          <option value="" disabled selected>Select Month</option>
          <option *ngFor="let month of months" [value]="month">{{ month }}</option>
        </select>
        <select name="expiryYear" class="form-control" required>
          <option value="" disabled selected>Select Year</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="CVV">CVV:</label>
      <input type="password" class="form-control" formControlName="CVV" id="CVV" placeholder="Enter CVV">
      <div *ngIf="checkoutForm.get('CVV')?.errors && checkoutForm.get('CVV')?.dirty" class="text-danger">   
        <div *ngIf="checkoutForm.get('CVV')?.hasError('required')">CVV is required.</div>
        <div *ngIf="checkoutForm.get('CVV')?.hasError('invalidCVV')">Please enter a valid CVV.</div>
      </div>
    </div>  

    <div class="form-group">
      <label for="address">Delivery_Address:</label>
      <textarea class="form-control" formControlName="address" id="address" rows="3" placeholder="Enter your address, PIN"></textarea>
    </div>

    <div class="form-group">
      <label for="phoneNo">Phone Number:</label>
      <input type="tel" class="form-control" formControlName="phoneNo" id="phoneNo" placeholder="Enter your phone number" required pattern="[0-9]*" minlength="10" maxlength="10">
      <div *ngIf="checkoutForm.get('phoneNo')?.errors && checkoutForm.get('phoneNo')?.dirty" class="text-danger">  
        <div *ngIf="checkoutForm.get('phoneNo')?.hasError('required')">Phone number is required.</div>
        <div *ngIf="checkoutForm.get('phoneNo')?.hasError('pattern')">Please enter a valid phone number with only digits.</div>
        <div *ngIf="checkoutForm.get('phoneNo')?.hasError('minlength') || checkoutForm.get('phoneNo')?.hasError('maxlength')">Phone number must be exactly 10 digits.</div>
      </div>
    </div>
    <div class="form-group highlight">
      <label for="totalCartValue">Total Price:</label>
      <input type="text" id="totalPrice" name="totalPrice" class="form-control" [value]="'₹' + totalCartValue" disabled>
    </div>

    <button type="submit" class="btn btn-primary">Proceed to Payment</button>
  </form>
</div>
